<TMPL_INCLUDE NAME="header-popup.tmpl">

<form method="post" enctype="multipart/form-data" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="upload_file" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />

<h4><MT_TRANS phrase="Choose A File"></h4>

<p><MT_TRANS phrase="To upload a file to your server, click on the browse button to locate the file on your hard drive."></p>

<p><label for="file"><MT_TRANS phrase="File:"></label> <input type="file" name="file" /></p>

<h4><MT_TRANS phrase="Choose A Destination"></h4>

<p><MT_TRANS phrase="_USAGE_UPLOAD" params="<TMPL_VAR NAME=LOCAL_SITE_PATH ESCAPE=HTML>%%<TMPL_VAR NAME=LOCAL_ARCHIVE_PATH ESCAPE=HTML>"></p>

<p><MT_TRANS phrase="Upload Into:"> <MT_TRANS phrase="(Optional)"></p>

<div class="field">
<input type="radio" name="site_path" value="0" checked="checked" />
&lt;<MT_TRANS phrase="Local Archive Path">&gt;/
<input name="extra_path_archive" /><br />

<input type="radio" name="site_path" value="1" />
&lt;<MT_TRANS phrase="Local Site Path">&gt;/
<input name="extra_path_site" />
</div>

<div>
<input onclick="window.close()" type="button" value="<MT_TRANS phrase="Cancel">" />
<input type="submit" value="<MT_TRANS phrase="Upload">" />
</div>

</form>

<TMPL_INCLUDE NAME="footer-popup.tmpl">
