/* --Default Page Settings-- */

/* Body */
BODY {
  background-color : White;
  color : Black; }

/* Links */
a {
  font-size: 11px
  font-family:  Verdana, Arial, Helvetica, sans-serif;
  color: #808080;
  text-decoration: none; }

a:hover {
  color: #A5D30C;
  text-decoration: none; }

a:active {
  text-decoration:underline;
  color: #000066; }

/* Table Column */
td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333333; }

/* Horizontal Line */
HR {
  color: #CCCCCC;
  height:1px;
  width:170px; }

/* --Default Class Settings-- */
.articlehead {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #333333 }

.button {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  color: #000000;
  background-color : #F0F0F0;
  border-style: solid;
  border-color: #CCCCCC;
  border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }

.componentHeading {
  font: bold 11px Verdana, Arial, Helvetica, sans-serif;
  color: #A5D30C;
  text-align: left }

.inputbox {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000000;
  background-color : #F0F0F0;
  border-style: solid;
  border-color: #CCCCCC;
  border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px }

.newsarticle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #333333;
  text-align: left }

.newspane {
  background-color : White; }

.newspaneopen {
  border : 1px solid #CCCCCC; }

.poll {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #666666;
  line-height: 14px }

.popupwindow {
  background-color : #FFFFFF; }

.sectiontableentry1 {
  background-color : #FFFFFF; }

.sectiontableentry2 {
  background-color : #F0F0F0; }

.sectiontableheader {
  background-color : #CCCCCC;
  color : #779707;
  font-weight : bold; }

.small {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #3366C0;
  text-decoration: none;
  font-weight: medium }

.smalldark {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000000;
  font-weight: normal }

li {
  list-style: inside url(../images/themes/theme_akogreenportal/arrow.gif) 2px;
  list-style-image: url(../images/themes/theme_akogreenportal/arrow.gif);
}

.navigationline {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #CCCCCC; }

