Thanks for subscribing to notifications about updates to 
<TMPL_VAR NAME="BLOG_NAME">. Follow the link below to confirm your subscription:

<<TMPL_VAR NAME="SCRIPT_PATH">?__mode=confirm;email=<TMPL_VAR NAME="EMAIL">;magic=<TMPL_VAR NAME="MAGIC">;blog_id=<TMPL_VAR NAME="BLOG_ID">;_redirect=<TMPL_VAR NAME="_REDIRECT">>

If the link is not clickable, just copy and paste it into your browser.
