<TMPL_INCLUDE NAME="header-popup.tmpl">

<script type="text/javascript">
<!--
<TMPL_IF NAME=SHOW_CATEGORY>

var c = new Array;
<TMPL_LOOP NAME=CATEGORY_LOOP>
if (c[<TMPL_VAR NAME=CATEGORY_BLOG_ID>] == null)
    c[<TMPL_VAR NAME=CATEGORY_BLOG_ID>] = new Array();
c[<TMPL_VAR NAME=CATEGORY_BLOG_ID>][<TMPL_VAR NAME=CATEGORY_INDEX>] = new MTChoice('<TMPL_VAR NAME=CATEGORY_LABEL>', <TMPL_VAR NAME=CATEGORY_ID>);
</TMPL_LOOP>

function MTChoice (label, id) {
    this.label = label;
    this.id = id;
}

</TMPL_IF>

var d = new Array();
var cb = new Array();
var ap = new Array();
var ps = new Array();
<TMPL_LOOP NAME=BLOG_LOOP>
d[<TMPL_VAR NAME=BLOG_ID>] = '<TMPL_VAR NAME=BLOG_ALLOW_COMMENTS>';
cb[<TMPL_VAR NAME=BLOG_ID>] = '<TMPL_VAR NAME=BLOG_CONVERT_BREAKS>';
ap[<TMPL_VAR NAME=BLOG_ID>] = '<TMPL_VAR NAME=BLOG_ALLOW_PINGS>';
ps[<TMPL_VAR NAME=BLOG_ID>] = '<TMPL_VAR NAME=BLOG_STATUS>';
</TMPL_LOOP>

function setMenu (f) {
    var w = f.blog_id.options[f.blog_id.selectedIndex].value;
    if (ps[w] == 1)
        f.status.selectedIndex = 0;
    else
        f.status.selectedIndex = 1;
<TMPL_IF NAME=SHOW_CATEGORY>
    var s = f.category_id;
    s.options[0] = new Option('<MT_TRANS phrase="Select">', '');
    s.length = 1;
    s.selectedIndex = 0;
    if (c[w] != null) {
        var m = c[w];
        for (i=0; i<m.length; i++)
            s.options[i+1] = new Option(m[i].label, m[i].id);
        s.length = m.length + 1;
    }
</TMPL_IF>
    var s = f.allow_comments;
    if (d[w] != null) {
        var m = d[w];
<TMPL_IF NAME=SHOW_ALLOW_COMMENTS>
        for (i=0; i<s.length; i++)
            if (s.options[i].value == m)
                s.selectedIndex = i;
<TMPL_ELSE>
        s.value = m;
</TMPL_IF>
    }
    var s = f.convert_breaks;
    if (cb[w] != null) {
        var m = cb[w];
        if (m == 1)
            m = '__default__';
<TMPL_IF NAME=SHOW_CONVERT_BREAKS>
        for (i=0; i<s.length; i++)
            if (s.options[i].value == m)
                s.selectedIndex = i;
<TMPL_ELSE>
        s.value = m;
</TMPL_IF>
    }
    var s = f.allow_pings;
    if (ap[w] != null) {
        var m = ap[w];
<TMPL_IF NAME=SHOW_ALLOW_PINGS>
        s.checked = m == 1 ? true : false;
<TMPL_ELSE>
        s.value = m == 1 ? 1 : 0;
</TMPL_IF>
    }
}

function validate (f) {
    var w = f.blog_id.options[f.blog_id.selectedIndex].value;
    if (w == '') {
        alert('<MT_TRANS phrase="You must choose a weblog in which to post the new entry.">');
        return false;
    }
    return true;
}

//-->
</script>

<form name="entry_form" method="post" action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return validate(this)">
<input type="hidden" name="is_bm" value="1" />
<input type="hidden" name="author_id" value="<TMPL_VAR NAME=AUTHOR_ID>" />
<input type="hidden" name="__mode" value="save_entry" />
<input type="hidden" name="status_old" value="" />

<TMPL_IF NAME=SHOW_TRACKBACK>

<TMPL_IF NAME=TO_PING_URLS>
<p>
<label><input type="checkbox" name="to_ping_urls" value="<TMPL_VAR NAME=TO_PING_URLS ESCAPE=HTML>" checked="checked" />
<MT_TRANS phrase="Ping TrackBack URL:"> <strong><TMPL_VAR NAME=TO_PING_URLS ESCAPE=HTML></strong></label>
</p>
</TMPL_IF>

<TMPL_IF NAME=TO_PING_URL_LOOP>
<p>
<label for="to_ping_urls"><MT_TRANS phrase="Select a TrackBack entry to ping:"></label><br />
<select name="to_ping_urls" id="to_ping_urls">
<option value=""><MT_TRANS phrase="None">
<TMPL_LOOP NAME=TO_PING_URL_LOOP>
<option value="<TMPL_VAR NAME=PING_URL ESCAPE=HTML>"><TMPL_VAR NAME=TITLE ESCAPE=HTML></option>
</TMPL_LOOP>
</select>
</p>
</TMPL_IF>

</TMPL_IF>

<p>
<label for="blog_id"><MT_TRANS phrase="Select a weblog for this post:"></label><br />
<select name="blog_id" id="blog_id" onchange="setMenu(this.form)">
<option value=""><MT_TRANS phrase="Select a weblog"></option>
<TMPL_LOOP NAME=BLOG_LOOP>
<option value="<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML></option>
</TMPL_LOOP>
</select>
</p>

<p>
<label for="status"><MT_TRANS phrase="Post Status"></label><br />
<select name="status" id="status">
<option value="1"><MT_TRANS phrase="Draft"></option>
<option value="2" selected><MT_TRANS phrase="Publish"></option>
</select>
</p>

<p>
<label for="title"><MT_TRANS phrase="Title"></label><br />
<input name="title" id="title" value="<TMPL_VAR NAME=TITLE ESCAPE=HTML>" />
</p>

<TMPL_IF NAME=SHOW_CATEGORY>
<p>
<label for="category_id"><MT_TRANS phrase="Primary Category"></label><br />
<select name="category_id" id="category_id">
<option value=""><MT_TRANS phrase="Select"></option>
</select>
<TMPL_ELSE>
<input type="hidden" name="category_id" value="" />
</TMPL_IF>

<p>
<TMPL_IF NAME=SHOW_ALLOW_COMMENTS>
<label><input type="checkbox" name="allow_comments" value="1" /><MT_TRANS phrase="Allow Comments"></label><br />
<TMPL_ELSE>
<input type="hidden" name="allow_comments" value="0" />
</TMPL_IF>

<TMPL_IF NAME=SHOW_ALLOW_PINGS>
<label><input type="checkbox" name="allow_pings" value="1" /><MT_TRANS phrase="Allow TrackBack Pings"></label><br />
<TMPL_ELSE>
<input type="hidden" name="allow_pings" value="0" />
</TMPL_IF>
</p>

<TMPL_IF NAME=SHOW_CONVERT_BREAKS>
<p>
<label for="convert_breaks"><MT_TRANS phrase="Text Formatting">:</label>
<select name="convert_breaks" id="convert_breaks">
<TMPL_LOOP NAME=TEXT_FILTERS>
<option value="<TMPL_VAR NAME=FILTER_KEY>"<TMPL_IF NAME=FILTER_SELECTED> selected="selected"</TMPL_IF>><TMPL_VAR NAME=FILTER_LABEL></option>
</TMPL_LOOP>
</select>
</p>
<TMPL_ELSE>
<input type="hidden" name="convert_breaks" value="0" />
</TMPL_IF>

<p>
<script type="text/javascript">
<!--
if (canFormat) {
    with (document) {
        write('<div style="float: right;">');
        write('<a title="<MT_TRANS phrase="Bold">" href="#" onclick="return formatStr(document.entry_form.text, \'strong\')"><img src="<TMPL_VAR NAME=STATIC_URI>images/bold-button.gif" alt="<MT_TRANS phrase="Bold">" width="24" height="18" border="0" /></a>');
        write('<a title="<MT_TRANS phrase="Italic">" href="#" onclick="return formatStr(document.entry_form.text, \'em\')"><img src="<TMPL_VAR NAME=STATIC_URI>images/italic-button.gif" alt="<MT_TRANS phrase="Italic">" width="24" height="18" border="0" /></a>');
        write('<a title="<MT_TRANS phrase="Underline">" href="#" onclick="return formatStr(document.entry_form.text, \'u\')"><img src="<TMPL_VAR NAME=STATIC_URI>images/underline-button.gif" alt="<MT_TRANS phrase="Underline">" width="24" height="18" border="0" /></a>');
        write('<a title="<MT_TRANS phrase="Insert Link">" href="#" onclick="return insertLink(document.entry_form.text)"><img src="<TMPL_VAR NAME=STATIC_URI>images/url-button.gif" alt="<MT_TRANS phrase="Insert Link">" width="26" height="18" border="0" /></a>');
        write('</div>');
    }
}
// -->
</script>
<label for="text"><MT_TRANS phrase="Entry Body"></label><br />
<textarea name="text" id="text" style="width: 100%;" rows="<TMPL_IF NAME=SHOW_TEXT_MORE>6<TMPL_ELSE>14</TMPL_IF>"><TMPL_VAR NAME=TEXT ESCAPE=HTML></textarea>
</p>

<TMPL_IF NAME=SHOW_TEXT_MORE>
<p>
<label for="text_more"><MT_TRANS phrase="Extended Entry"></label><br />
<textarea name="text_more" style="width: 100%;" rows="10"></textarea>
</p>
</TMPL_IF>

<TMPL_IF NAME=SHOW_EXCERPT>
<p>
<label for="excerpt"><MT_TRANS phrase="Excerpt"></label><br />
<textarea name="excerpt" id="excerpt" style="width: 100%;" rows="4"></textarea>
</p>
</TMPL_IF>

<TMPL_IF NAME=SHOW_KEYWORDS>
<p>
<label for="keywords"><MT_TRANS phrase="Keywords"></label><br />
<textarea name="keywords" id="keywords" style="width: 100%;" rows="4"></textarea>
</p>
</TMPL_IF>

<div align="center">
<input type="button" onClick="window.close()" value="<MT_TRANS phrase="Cancel">" />
<input type="submit" value="<MT_TRANS phrase="Post">" />
</div>

<TMPL_INCLUDE NAME="footer-popup.tmpl">
