<TMPL_INCLUDE NAME="header.tmpl">

<div id="edit-template">

<script type="text/javascript">
<!--

function doRebuildOne (id) {
    window.open('<TMPL_VAR NAME=SCRIPT_URL>?__mode=rebuild_confirm&blog_id=<TMPL_VAR NAME=BLOG_ID>&tmpl_id=' + id, 'rebuild', 'width=400,height=250,resizable=yes');
}

function toggleAutoRebuild (t) {
	o = getByID('rebuild_me');
	if (o) {
		if (t.checked) {
			o.disabled = true;
		} else {
			o.disabled = false;
		}
	}
}

//-->
</script>

<TMPL_IF NAME=ERROR>
<h4 class="error-message"><TMPL_VAR NAME=ERROR ESCAPE=HTML></h4>
</TMPL_IF>

<h2><MT_TRANS phrase="Edit Template"></h2>

<TMPL_IF NAME=SAVED>
<div class="message">
<MT_TRANS phrase="Your template changes have been saved.">
<TMPL_UNLESS NAME=BUILD_DYNAMIC>
<TMPL_IF NAME=HAS_REBUILD>
<form class="inline" action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return false;">
<input type="button" onClick="window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=start_rebuild&blog_id=<TMPL_VAR NAME=BLOG_ID>&next=0&type=index-<TMPL_VAR NAME=ID>&tmpl_id=<TMPL_VAR NAME=ID>&single_template=1'" value="<MT_TRANS phrase="Rebuild this template">" />
</form>
</TMPL_IF>
</TMPL_UNLESS>
</div>
</TMPL_IF>

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="type" value="<TMPL_VAR NAME=TYPE>" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="template" />

<div>
<div class="leftcol">

<TMPL_IF NAME=HAS_NAME>
<p><label for="name"><MT_TRANS phrase="Template Name"></label><br />
<input name="name" id="name" value="<TMPL_VAR NAME=NAME ESCAPE=HTML>" class="wide" /></p>
<TMPL_ELSE>
<p><MT_TRANS phrase="Template Name"><br /><strong>
<TMPL_IF NAME=TYPE_COMMENTS>
<input type="hidden" name="name" value="Comment Listing Template" />
<MT_TRANS phrase="Comment Listing Template">
</TMPL_IF>
<TMPL_IF NAME=TYPE_COMMENT_PREVIEW>
<input type="hidden" name="name" value="Comment Preview Template" />
<MT_TRANS phrase="Comment Preview Template">
</TMPL_IF>
<TMPL_IF NAME=TYPE_COMMENT_ERROR>
<input type="hidden" name="name" value="Comment Error Template" />
<MT_TRANS phrase="Comment Error Template">
</TMPL_IF>
<TMPL_IF NAME=TYPE_COMMENT_PENDING>
<input type="hidden" name="name" value="Comment Pending Template" />
<MT_TRANS phrase="Comment Pending Template">
</TMPL_IF>
<TMPL_IF NAME=TYPE_REGISTER_USER>
<input type="hidden" name="name" value="Commenter Registration Template" />
<MT_TRANS phrase="Commenter Registration Template">
</TMPL_IF>
<TMPL_IF NAME=TYPE_PINGS>
<input type="hidden" name="name" value="TrackBack Listing Template" />
<MT_TRANS phrase="TrackBack Listing Template">
</TMPL_IF>
<TMPL_IF NAME=TYPE_POPUP_IMAGE>
<input type="hidden" name="name" value="Uploaded Image Popup Template" />
<MT_TRANS phrase="Uploaded Image Popup Template">
</TMPL_IF>
<TMPL_IF NAME=TYPE_DYNAMIC_ERROR>
<input type="hidden" name="name" value="Dynamic Pages Error Template" />
<MT_TRANS phrase="Dynamic Pages Error Template">
</TMPL_IF>
</strong></p>
</TMPL_IF>

<TMPL_IF NAME=HAS_OUTFILE>
<p><label for="outfile"><MT_TRANS phrase="Output File"></label><br />
<input name="outfile" id="outfile" value="<TMPL_VAR NAME=OUTFILE ESCAPE=HTML>" class="wide" /></p>
</TMPL_IF>

<p><label for="linked_file"><MT_TRANS phrase="Link this template to a file"></label> <a href="#" onclick="return openManual('templates', 'item_link_this_template_to_a_file')" class="help">?</a><br />
<input name="linked_file" id="linked_file" value="<TMPL_VAR NAME=LINKED_FILE ESCAPE=HTML>" class="wide" /></p>

</div>
<div class="rightcol">

<TMPL_IF NAME=HAS_BUILD_OPTIONS>
<p class="fieldset-label"><MT_TRANS phrase="Build Options"></p>
<div class="build-options">
<TMPL_IF NAME=CUSTOM_DYNAMIC>
<div class="build-item">
<div class="build-field"><input type="checkbox" id="build_dynamic" name="build_dynamic" value="1" <TMPL_IF NAME=BUILD_DYNAMIC>checked="checked" </TMPL_IF>/></div>
<p><label for="build_dynamic"><MT_TRANS phrase="Enable dynamic building for this template"></label></p>
</div>
</TMPL_IF>
<TMPL_IF NAME=HAS_REBUILD>
<div class="build-item">
<div class="build-field"><input type="checkbox" id="rebuild_me" name="rebuild_me" value="1" <TMPL_IF NAME=REBUILD_ME>checked="checked" </TMPL_IF>/></div>
<p><label for="rebuild_me"><MT_TRANS phrase="Rebuild this template automatically when rebuilding index templates"></label> <a href="#" onclick="return openManual('templates', 'item_rebuild_this_template_automatically')" class="help">?</a></p>
</div>
</TMPL_IF>
</div>
</TMPL_IF>

</div>
<br style="clear: both;" />
</div>

<p><label for="text"><TMPL_IF NAME=TYPE_CUSTOM><MT_TRANS phrase="Module Body"><TMPL_ELSE><MT_TRANS phrase="Template Body"></TMPL_IF></label><br /><textarea name="text" id="text" rows="20" cols="72" class="wide"><TMPL_VAR NAME=TEXT ESCAPE=HTML></textarea></p>

<input type="submit" value="<MT_TRANS phrase="Save">" />
<TMPL_UNLESS NAME=NEW_OBJECT>
<TMPL_UNLESS NAME=BUILD_DYNAMIC>
<TMPL_IF NAME=HAS_REBUILD>
<input type="button" onclick="doRebuildOne(<TMPL_VAR NAME=ID>)" value="<MT_TRANS phrase="Rebuild">" />
</TMPL_IF>
</TMPL_UNLESS>
</TMPL_UNLESS>

</form>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
