<TMPL_INCLUDE NAME="header.tmpl">

<h2><MT_TRANS phrase="Import &amp; Export Entries"></h2>

<h3><MT_TRANS phrase="Import Entries"></h3>

<p><MT_TRANS phrase="_USAGE_IMPORT"></p>

<form method="get" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="import" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />

<p><input type="checkbox" name="import_as_me" id="import_as_me" value="1" /> <label for="import_as_me"><MT_TRANS phrase="Import entries as me"></label>&nbsp;&nbsp;<a href="#" onclick="return openManual('importing', 'import_as_self')" class="help">?</a></p>

<p><label for="password"><MT_TRANS phrase="Password (required if creating new authors):"></label><br />
<input type="password" name="password" id="password" /></p>

<p><label for="default_cat_id"><MT_TRANS phrase="Default category for entries (optional):"></label> <a href="#" onclick="return openManual('importing', 'import_category')" class="help">?</a><br />
<select name="default_cat_id" id="default_cat_id">
<option value=""><MT_TRANS phrase="Select a category"></option>
<TMPL_LOOP NAME=CATEGORY_LOOP>
<option value="<TMPL_VAR NAME=CATEGORY_ID>"><TMPL_VAR NAME=CATEGORY_LABEL></option>
</TMPL_LOOP>
</select></p>

<p><label for="default_status"><MT_TRANS phrase="Default post status for entries (optional):"></label> <a href="#" onclick="return openManual('importing', 'import_status')" class="help">?</a><br />
<select name="default_status" id="default_status">
<option value=""><MT_TRANS phrase="Select a post status"></option>
<option value="1"><MT_TRANS phrase="Draft"></option>
<option value="2"><MT_TRANS phrase="Publish"></option>
</select></p>

<p><label for="title_start"><MT_TRANS phrase="Start title HTML (optional):"></label> <a href="#" onclick="return openManual('importing', 'import_title_html')" class="help">?</a><br />
<input name="title_start" id="title_start" /></p>

<p><label for="title_end"><MT_TRANS phrase="End title HTML (optional):"></label><br />
<input name="title_end" id="title_end" /></p>

<p><input type="submit" value="<MT_TRANS phrase="Import Entries">" /></p>
</form>

<hr />

<h4><MT_TRANS phrase="Export Entries"></h4>

<p><MT_TRANS phrase="_USAGE_EXPORT_1"></p>

<p><MT_TRANS phrase="_USAGE_EXPORT_2" params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"></p>

<p><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=export&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Export Entries From [_1]" params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"></a></p>

<TMPL_IF NAME=HAVE_TANGENT>
<hr />

<h4><MT_TRANS phrase="Export Entries to Tangent"></h4>

<p><MT_TRANS phrase="_USAGE_EXPORT_3" params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"></p>

<p><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=tangent_export&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Export Entries From [_1]" params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"></a></p>
</TMPL_IF>

<TMPL_INCLUDE NAME="footer.tmpl">
