<TMPL_INCLUDE NAME="header.tmpl">

<div id="list-template">

<script type="text/javascript">
<!--

function doEditTemplate (type, id) {
    var url = '<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=template&blog_id=<TMPL_VAR NAME=BLOG_ID>';
    if (id)
        url += '&id=' + id;
    else if (type)
        url += '&type=' + type;
    window.location = url;
}

function doRemoveTemplates (f) {
    var base = '<TMPL_VAR NAME=SCRIPT_URL>?__mode=delete_confirm&_type=template&blog_id=<TMPL_VAR NAME=BLOG_ID>';
    var url = '';
    var e = f.id;
    if (!e) return;
    if (e.value && e.checked)
        url += '&id=' + e.value;
    else
        for (i=0; i<e.length; i++)
            if (e[i].checked)
                url += '&id=' + e[i].value;
    if (!url) {
        alert('<MT_TRANS phrase="You did not select any templates to delete.">');
        return false;
    }
    url = base + url;
    window.open(url, 'confirm_delete', 'width=370,height=190');
}

//-->
</script>

<h2><MT_TRANS phrase="Templates"></h2>

<TMPL_IF NAME=SAVED_DELETED>
<div class="message"><MT_TRANS phrase="You have successfully deleted the checked template(s)."> </div>
</TMPL_IF>

<div>
<div class="leftcol">
<p><MT_TRANS phrase="_USAGE_TEMPLATES"></p>
<p><MT_TRANS phrase="Templates can be built statically (a manual or semi-automatic process) or dynamically whenever a page is requested (a fully-automatic process). There are some benefits and drawbacks to either option."></p>
</div>

<div class="rightcol">
<form method=GET action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="set_dynamicity" />
<input type="hidden" name="_type" value="template" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<p class="fieldset-label"><MT_TRANS phrase="Build Options"></p>
<div class="build-options">
<p>
<input type="radio" id="dynamic_none" name="dynamicity" value="none"<TMPL_IF NAME=DYNAMIC_NONE> checked="on"</TMPL_IF>/> <label for="dynamic_none"><MT_TRANS phrase="Build All Templates Statically"></label><br />
<input type="radio" id="dynamic_archives" name="dynamicity" value="archives"<TMPL_IF NAME=DYNAMIC_ARCHIVES> checked="checked"</TMPL_IF> /> <label for="dynamic_archives"><MT_TRANS phrase="Build Only Archive Templates Dynamically"></label><br />
<input type="radio" id="dynamic_custom" name="dynamicity" value="custom"<TMPL_IF NAME=DYNAMIC_CUSTOM> checked="checked"</TMPL_IF> /> <label for="dynamic_custom"><MT_TRANS phrase="Set Each Template's Build Options Separately"></label>
</p>
<input type="submit" value="<MT_TRANS phrase="Save">">
</div>
</form>
</div>

<br style="clear: both;" />
</div>

<h3><MT_TRANS phrase="Index Templates"></h3>

<div align="right"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;type=index&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Create new index template"></a></div>

<form action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return false;">

<div class="list">
<table cellspacing="0">

<tr>
<th width="40%"><MT_TRANS phrase="Template Name"></th>
<th width="30%"><MT_TRANS phrase="Output File"></th>
<th width="20%"><MT_TRANS phrase="Build w/Indexes"></th>
<th width="10%"><MT_TRANS phrase="Delete"></th>
</tr>

<TMPL_LOOP NAME=OBJECT_INDEX_LOOP>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=template&id=<TMPL_VAR NAME=ID>&blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="<TMPL_VAR NAME=NAME>"></a></td>
<td><TMPL_VAR NAME=OUTFILE></td>
<td><TMPL_IF NAME=REBUILD_ME><MT_TRANS phrase="Yes"><TMPL_ELSE><MT_TRANS phrase="No"></TMPL_IF></td>
<td><input type="checkbox" name="id" value="<TMPL_VAR NAME=ID>" /></td>
</tr>
</TMPL_LOOP>

</table>
</div>

<div align="right">
<input type="button" onClick="doRemoveTemplates(this.form)" name="Delete" value="<MT_TRANS phrase="Delete">" />
</div>

</form>

<h3><MT_TRANS phrase="Archive-Related Templates"></h3>

<div align="right"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;type=archive&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Create new archive template"></a></div>

<form action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return false;">

<div class="list">
<table cellspacing="0">

<tr>
<th width="90%"><MT_TRANS phrase="Template Name"></th>
<th width="10%"><MT_TRANS phrase="Delete"></th>
</tr>

<TMPL_LOOP NAME=OBJECT_ARCHIVE_LOOP>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;id=<TMPL_VAR NAME=ID>&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="<TMPL_VAR NAME=NAME>"></a></td>
<td><input type="checkbox" name="id" value="<TMPL_VAR NAME=ID>" /></td>
</tr>
</TMPL_LOOP>

</table>
</div>

<div align="right">
<input type="button" onClick="doRemoveTemplates(this.form)" value="<MT_TRANS phrase="Delete">" />
</div>

<div align="right">
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_archives&blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Edit Archive File Options"></a>
</div>

</form>

<h3><MT_TRANS phrase="Special Templates"></h3>

<div class="list">
<table cellspacing="0">

<tr>
<th width="100%"><MT_TRANS phrase="Template Name"></th>
</tr>

<tr class="odd">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;type=comments&amp;id=<TMPL_VAR NAME=TEMPLATE_COMMENTS>"><MT_TRANS phrase="Comment Listing Template"></a></td>
</tr>

<tr class="even">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;type=comment_preview&amp;id=<TMPL_VAR NAME=TEMPLATE_COMMENT_PREVIEW>"><MT_TRANS phrase="Comment Preview Template"></a></td>
</tr>

<tr class="odd">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;type=comment_error&amp;id=<TMPL_VAR NAME=TEMPLATE_COMMENT_ERROR>"><MT_TRANS phrase="Comment Error Template"></a></td>
</tr>

<tr class="even">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;type=comment_pending&amp;id=<TMPL_VAR NAME=TEMPLATE_COMMENT_PENDING>"><MT_TRANS phrase="Comment Pending Template"></a></td>
</tr>

<tr class="odd">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;type=pings&amp;id=<TMPL_VAR NAME=TEMPLATE_PINGS>"><MT_TRANS phrase="TrackBack Listing Template"></a></td>
</tr>

<tr class="even">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;type=popup_image&amp;id=<TMPL_VAR NAME=TEMPLATE_POPUP_IMAGE>"><MT_TRANS phrase="Uploaded Image Popup Template"></a></td>
</tr>


<tr class="odd">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;type=dynamic_error&amp;id=<TMPL_VAR NAME=TEMPLATE_DYNAMIC_ERROR>"><MT_TRANS phrase="Dynamic Pages Error Template"></a></td>
</tr>

</table>
</div>

<h3><MT_TRANS phrase="Template Modules"></h3>

<div align="right"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=template&amp;type=custom&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><MT_TRANS phrase="Create new template module"></a></div>

<form action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return false;">

<div class="list">
<table cellspacing="0">

<tr>
<th width="90%"><MT_TRANS phrase="Template Name"></th>
<th width="10%"><MT_TRANS phrase="Delete"></th>
</tr>

<TMPL_LOOP NAME=OBJECT_CUSTOM_LOOP>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&_type=template&id=<TMPL_VAR NAME=ID>&blog_id=<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=NAME></a></td>
<td><input type="checkbox" name="id" value="<TMPL_VAR NAME=ID>" /></td>
</tr>
</TMPL_LOOP>

</table>
</div>

<div align="right">
<input type="button" onClick="doRemoveTemplates(this.form)" name="Delete" value="<MT_TRANS phrase="Delete">" />
</div>

</form>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
