<TMPL_INCLUDE NAME="header.tmpl">

<div id="rightcol-notes">

<div class="box">
<h4><MT_TRANS phrase="Five Most Recent Entries"></h4>
<div class="inner">
<div class="list">
<table cellspacing="0">
<TMPL_LOOP NAME=ENTRY_LOOP>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td width="70%"><TMPL_IF NAME=HAS_EDIT_ACCESS><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=entry&amp;id=<TMPL_VAR NAME=ENTRY_ID>&amp;blog_id=<TMPL_VAR NAME=ENTRY_BLOG_ID>"><TMPL_VAR NAME=ENTRY_TITLE></a><TMPL_ELSE><TMPL_VAR NAME=ENTRY_TITLE></TMPL_IF></td>
<td width="30%"><TMPL_VAR NAME=ENTRY_CREATED_ON></td>
</tr>
</TMPL_LOOP>
</table>
</div>
<p align="center"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_entries&blog_id=<TMPL_VAR NAME=BLOG_ID>">[<MT_TRANS phrase="View all Entries">]</a></p>
</div>
</div>

<TMPL_IF NAME=COMMENT_LOOP>
<div class="box">
<h4><MT_TRANS phrase="Five Most Recent Comments"></h4>
<div class="inner">
<div class="list">
<table cellspacing="0">
<TMPL_LOOP NAME=COMMENT_LOOP>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td width="70%"><TMPL_IF NAME=HAS_EDIT_ACCESS><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=comment&amp;id=<TMPL_VAR NAME=COMMENT_ID>&amp;blog_id=<TMPL_VAR NAME=COMMENT_BLOG_ID>"><TMPL_IF NAME=COMMENT_AUTHOR><TMPL_VAR NAME=COMMENT_AUTHOR ESCAPE=HTML><TMPL_ELSE>[<MT_TRANS phrase="Anonymous">]</TMPL_IF></a><TMPL_ELSE><TMPL_IF NAME=COMMENT_AUTHOR><TMPL_VAR NAME=COMMENT_AUTHOR ESCAPE=HTML><TMPL_ELSE>[<MT_TRANS phrase="Anonymous">]</TMPL_IF></TMPL_IF></td>
<td width="30%"><TMPL_VAR NAME=COMMENT_CREATED_ON></td>
</tr>
</TMPL_LOOP>
</table>
</div>
<p align="center"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_comments&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>">[<MT_TRANS phrase="View all Comments">]</a></p>
</div>
</div>
</TMPL_IF>

<TMPL_IF NAME=PING_LOOP>
<div class="box">
<h4><MT_TRANS phrase="Five Most Recent TrackBacks"></h4>
<div class="inner">
<div class="list">
<table cellspacing="0">
<TMPL_LOOP NAME=PING_LOOP>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
<td width="70%"><a target="_blank" href="<TMPL_VAR NAME=PING_URL ESCAPE=HTML>"><TMPL_VAR NAME=PING_TITLE ESCAPE=HTML></a></td>
<td width="30%"><TMPL_VAR NAME=PING_CREATED_ON></td>
</tr>
</TMPL_LOOP>
</table>
</div>
<p align="center"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_pings&blog_id=<TMPL_VAR NAME=BLOG_ID>">[<MT_TRANS phrase="View all TrackBacks">]</a></p>
</div>
</div>
</TMPL_IF>

</div>

<div id="leftcol-main">
<TMPL_IF NAME=WELCOME>
<TMPL_VAR NAME=WELCOME>
<TMPL_ELSE>

<h4><MT_TRANS phrase="Welcome to [_1]." params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"></h4>

<p><MT_TRANS phrase="You can post and maintain your weblog by selecting an option from the menu located to the left of this message."></p>

<p><MT_TRANS phrase="If you need assistance, try:"></p>

<p><a target="_blank" href="<TMPL_VAR NAME=STATIC_URI>docs/mtmanual.html"><MT_TRANS phrase="Movable Type User Manual"></a><br />
<a target="_blank" href="http://www.movabletype.org/support/"><MT_TRANS phrase="Movable Type Support Forum"></a></p>

<TMPL_IF NAME=CAN_EDIT_CONFIG>
<p><MT_TRANS phrase="This welcome message is configurable."></p>

<p><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=cfg_prefs&blog_id=<TMPL_VAR NAME=BLOG_ID>#welcome_msg"><MT_TRANS phrase="Change this message."></a></p>

</TMPL_IF>
</TMPL_IF>

<TMPL_IF NAME=PLUGIN_ACTION_LOOP>
<div style="border: 1px solid black; padding: 6px; margin-top:60px">
<MT_TRANS phrase="Plugin actions">: <br />
<TMPL_LOOP NAME=PLUGIN_ACTION_LOOP>
<a href="<TMPL_VAR NAME=PAGE>&from=blog_home;blog_id=<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=LINK_TEXT></a> <br />
</TMPL_LOOP>
</div>
</TMPL_IF>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
